<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Create</title>
</head>
<body>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name">
        <input type="number" name="price">
        <input type="number" name="quantity">
        <select name="category">
            {% for category in category_list %}
                <option value="{{ category.pk }}">{{ category }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Create">
    </form>

</body>
</html>